@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://propertypro.ng">Building my first web application using C#</a>.</p>
    <p>This application would mirror the propertypro.ng website which deals in the sales and rentals
         of apartments across Nigeria</p>
</div>

